@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

:root {
  --color-light: #fff;
  --color-dark: #444;
  --font-logo: 'Sacramento', cursive;
  --font-header: 'Oswald', sans-serif;
  --font-text: 'Source Sans Pro', sans-serif;
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--color-light);
  font-family: var(--font-text);
  color: var(--color-dark);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: var(--font-header);
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: lighten(var(--color-dark), 20%);
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar, .posts {
  flex: 1;
  background: var(--color-light);
  margin-right: 10px;
  padding: 40px;
  border: 1px solid var(--color-dark);
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: var(--font-logo);
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */

.authors li {
  margin-bottom: 12px;
}

/* Post */

.post {
  display: none;
}

.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}
